* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e2cde1;
  } 

  .calculator {
    display: grid;
    grid-template-rows: 1fr 4fr;
    width: 400px;
    height: 600px;
    background-color: rgb(215, 164, 250);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  }

  .calculator-display {
    width: 100%;
    height: 90px;
    font-size: 2rem;
    padding: 10px;
    border: None;
    background-color: rgb(67, 82, 165);
    color: rgb(209, 233, 181);
    text-align: right;
  }
  

  .calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px;
  }

  button {
    width: 100%;
    height: 90px;
    font-size: 1.5rem;
    border: none;
    background-color: #add5df;
    cursor: pointer;
    border-radius: 5px;
  }

  button:hover {
    background-color: #d6adcd;
  }
  
  #clear {
    width: 100%;
    height: 60px;
    position: relative;
    background-color: #f44336;
    color: white;
  }